.statistics {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-color: white;
}

.title {
    margin: 0;
    text-transform: uppercase;
    padding: 40px 20px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.statList {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
}

.label {
    padding-bottom: 10px;
}

.percentage {
    font-size: 21px;
    font-weight: 400;
}